<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-wmemIdth: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>사용자 수정 폼</h2>
    </div>

    <form action="member.html" th:action method="post">
        <input type="hidden" id="memSeq" name="memSeq" class="form-control" value="1" th:value="${member.memSeq}" readonly>
        <div>
            <label for="memId">ID</label>
            <input type="text" id="memId" name="memId" class="form-control" value="1" th:value="${member.memId}">
        </div>
        <div>
            <label for="memPass">비밀번호</label>
            <input type="text" id="memPass" name="memPass" class="form-control" value="10000" th:value="${member.memPass}">
        </div>
        <div>
            <label for="memName">사용자명</label>
            <input type="text" id="memName" name="memName" class="form-control" value="사용자A" th:value="${member.memName}" >
        </div>
        <div>
            <label for="memAuth">권한</label>
            <input type="text" id="memAuth" name="memAuth" class="form-control" value="10000" th:value="${member.memAuth}">
        </div>
        <div>
            <label for="useYn">사용여부</label>
            <input type="text" id="useYn" name="useYn" class="form-control" value="10" th:value="${member.useYn}">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='member.html'"
                        th:onclick="|location.href='@{/members/member/{memSeq}(memSeq=${member.memSeq})}'|"
                        type="button">취소</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-danger btn-lg" onclick="location.href='member.html'"
                        th:onclick="|location.href='@{/members/member/{memSeq}(memSeq=${member.memSeq})}'|"
                        type="button">삭제</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>